* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color:blanchedalmond;
    text-align: center;
    color: #4e8385;
    width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid #4e8385;
    padding: 10px 2px;
}

h2 {
    background-color:blanchedalmond;
    color:firebrick;
    text-decoration: underline;
    border: 1px solid firebrick;
    border-radius: 25px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
}

img{
  border-radius: 25px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.recipe-ul {
    background: blanchedalmond;
    padding: 20px;
  }

.recipe-ul li {
  background: rgb(255, 246, 232);
  color: rgb(130, 26, 26);
  margin-left: 35px;
}

.anchor-home {
  text-align: center;
}

.recipe-container{
  border: 1px solid black;
  border-radius: 25px;
  width: 300px;
  margin: auto;
  padding-bottom: 100px;
  background-color: bisque;
}

body{
  background-color: white;
}

blockquote {
  background-color: rgb(205, 205, 205);
  padding: 20px;
  border-radius: 25px;
  width: 360px;
  margin: 20px auto;
  border: 1px solid black;
}

footer {
  font-size: 12px;
  color: #bababa;
}