* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color:blanchedalmond;
    text-align: center;
    color: rgb(78, 131, 133);
}

h2 {
    background-color:blanchedalmond;
    color:firebrick;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.recipe-ul {
    background: blanchedalmond;
    padding: 20px;
  }

  .recipe-ul li {
    background: rgb(255, 246, 232);
    color: rgb(130, 26, 26);
    margin-left: 35px;
  }

  .anchor-home {
    text-align: center;
  }